Logic App/deploy-template-lgapp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "sentinel-reopen-undetermined-incidents",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "subscriptionId": {
            "type": "string",
            "defaultValue": "yourazsubscriptionid",
            "metadata": {
                "description": "Azure subscription ID"
            }
        },
        "resourceGroupName": {
            "type": "string",
            "defaultValue": "yoursentinelworkspacerg",
            "metadata": {
                "description": "Resource group containing Sentinel workspace"
            }
        },
        "sentinelWorkspaceName": {
            "type": "string",
            "defaultValue": "yoursentinelworkspacename",
            "metadata": {
                "description": "Name of the Sentinel workspace"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for the Logic App"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "object": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "properties": {
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Initialize_variable_-_Incidents_Reopened_Count": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentsReopenedCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "Initialize_variable_-_Subscription_ID": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SubscriptionID",
                                        "type": "string",
                                        "value": "[parameters('subscriptionId')]"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_-_Incidents_Reopened_Count": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_variable_-_Resource_Group": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ResourceGroup",
                                        "type": "string",
                                        "value": "[parameters('resourceGroupName')]"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_-_Subscription_ID": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_variable_-_Workspace_Name": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WorkspaceName",
                                        "type": "string",
                                        "value": "[parameters('sentinelWorkspaceName')]"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_-_Resource_Group": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "HTTP_-_Get_Recently_Closed_Incidents": {
                            "type": "Http",
                            "inputs": {
                                "uri": "@concat('https://management.azure.com/subscriptions/', variables('SubscriptionID'), '/resourceGroups/', variables('ResourceGroup'), '/providers/Microsoft.OperationalInsights/workspaces/', variables('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2020-01-01&$filter=properties/status eq ''Closed'' and properties/lastModifiedTimeUtc gt ', formatDateTime(addHours(utcNow(), -1), 'yyyy-MM-ddTHH:mm:ss.fffZ'), '&$orderby=properties/lastModifiedTimeUtc desc&$top=200')",
                                "method": "GET",
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_-_Workspace_Name": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Parse_JSON_-_Incidents_Response": {
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_-_Get_Recently_Closed_Incidents')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "type": "object",
                                                        "properties": {
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "severity": {
                                                                "type": "string"
                                                            },
                                                            "classification": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "owner": {
                                                                "type": [
                                                                    "object",
                                                                    "null"
                                                                ]
                                                            },
                                                            "incidentNumber": {
                                                                "type": "integer"
                                                            },
                                                            "lastModifiedTimeUtc": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "HTTP_-_Get_Recently_Closed_Incidents": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "For_each_incident": {
                            "type": "Foreach",
                            "foreach": "@body('Parse_JSON_-_Incidents_Response')?['value']",
                            "actions": {
                                "Compose_-_Debug_Incident_Properties": {
                                    "type": "Compose",
                                    "inputs": {
                                        "incidentId": "@items('For_each_incident')?['id']",
                                        "incidentNumber": "@items('For_each_incident')?['properties']?['incidentNumber']",
                                        "status": "@items('For_each_incident')?['properties']?['status']",
                                        "classification": "@items('For_each_incident')?['properties']?['classification']",
                                        "owner": "@items('For_each_incident')?['properties']?['owner']",
                                        "title": "@items('For_each_incident')?['properties']?['title']"
                                    }
                                },
                                "Condition_-_Check_if_incident_meets_criteria": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_incident')?['properties']?['status']",
                                                    "Closed"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@items('For_each_incident')?['properties']?['classification']",
                                                    "Undetermined"
                                                ]
                                            },
                                            {
                                                "or": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each_incident')?['properties']?['owner']",
                                                            null
                                                        ]
                                                    },
                                                    {
                                                        "equals": [
                                                            "@items('For_each_incident')?['properties']?['owner']?['assignedTo']",
                                                            null
                                                        ]
                                                    },
                                                    {
                                                        "equals": [
                                                            "@string(coalesce(items('For_each_incident')?['properties']?['owner']?['assignedTo'], ''))",
                                                            ""
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "HTTP_-_Update_Incident_Status": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@concat('https://management.azure.com', items('For_each_incident')?['id'], '?api-version=2020-01-01')",
                                                "method": "PUT",
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "properties": {
                                                        "title": "@items('For_each_incident')?['properties']?['title']",
                                                        "status": "Active",
                                                        "severity": "@items('For_each_incident')?['properties']?['severity']"
                                                    }
                                                },
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                }
                                            }
                                        },
                                        "HTTP_-_Add_Comment_to_Incident": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@concat('https://management.azure.com', items('For_each_incident')?['id'], '/comments/', guid(), '?api-version=2024-09-01')",
                                                "method": "PUT",
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "properties": {
                                                        "message": "@concat('Incident automatically reopened due to undetermined closure reason and unassigned status. Reopened by Logic App on ', utcNow(), '.')"
                                                    }
                                                },
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                }
                                            },
                                            "runAfter": {
                                                "HTTP_-_Update_Incident_Status": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Increment_variable": {
                                            "type": "IncrementVariable",
                                            "inputs": {
                                                "name": "IncidentsReopenedCount",
                                                "value": 1
                                            },
                                            "runAfter": {
                                                "HTTP_-_Add_Comment_to_Incident": [
                                                    "Succeeded",
                                                    "Failed",
                                                    "Skipped",
                                                    "TimedOut"
                                                ]
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "runAfter": {
                                        "Compose_-_Debug_Incident_Properties": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_-_Incidents_Response": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Response": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": {
                                    "message": "Logic App execution completed successfully",
                                    "incidentsReopened": "@variables('IncidentsReopenedCount')",
                                    "executionTime": "@utcNow()",
                                    "sentinelWorkspace": "[parameters('sentinelWorkspaceName')]",
                                    "resourceGroup": "[parameters('resourceGroupName')]"
                                }
                            },
                            "runAfter": {
                                "For_each_incident": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "type": "Object",
                            "defaultValue": {}
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppName": {
            "type": "string",
            "value": "[parameters('logicAppName')]"
        },
        "logicAppId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
        },
        "logicAppTriggerUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2019-05-01').value]"
        },
        "managedIdentityPrincipalId": {
            "type": "string",
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
        }
    }
}